@font-face {
    font-family: "Regular";
    src: url('../fonts/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: "Bold";
    src: url('../fonts/AlteHaasGroteskBold.ttf');
}

/* ================================================================================================================ */

body {
    font-family: "Regular";
    font-size: medium;
    color: rgb(15, 155, 15);
    margin: 0;
}

a:link {
    text-decoration: none;
    color: rgb(15, 155, 15);
}

a:visited {
    text-decoration: none;
    color: rgb(15, 155, 15);
}

/* ================================================================================================================ */
/* == HAUT DE LA PAGE ============================================================================================= */
/* ================================================================================================================ */

.barre-du-haut {
    position: absolute;
    width: 100%;
    height: 7rem;
    background-color: rgb(15, 155, 15);
    font-size: 4rem;
    color: white;
}

.titre-de-app {
    position: absolute;
    float: left;
    left: 30px;
}

.infos-du-haut {
    position: absolute;
    float: left;
    left: 35px;
    top: 75px;
    font-family: "Bold";
    font-size: 1rem;
}

/* ================================================================================================================ */
/* == MILIEU DE LA PAGE =========================================================================================== */
/* ================================================================================================================ */

#section-page {
    position: absolute;
    top: 130px;
    float: left;
    left: 35px;
}

#join-me {
    position: relative;
    font-size: 2rem;
    color: black;
}

#app-list {
    position: relative;
    font-family: "Bold";    
    font-size: 1rem;
}

#main-page {
    position: absolute;
    float: left;
    left: 200px;
    top: 0px;    
}

.main-text {
    position: relative;
    width: 1450px;
    top: 20px;
}